<%# 新規チャットルームのビューファイル %>
<div class='chat-room-form'>
  <h1>新規チャットルーム</h1>
  <%=form_with model: @room, local: true do |f|%>
    <div class='chat-room-form__field'>
      <div class='chat-room-form__field--left'>
        <%= f.label :チャットルーム名, class: 'chat-room-form__label'%>
      </div>
      <div class='chat-room-form__field--right'>
        <%= f.text_field :name, class: 'chat__room_name chat-room-form__input', placeholder: 'チャットルーム名を入力してください'%>
      </div>
    </div>
    <div class='chat-room-form__field'>
    </div>
    <div class='chat-room-form__field'>
      <div class='chat-room-form__field--left'>
        <label class='chat-room-form__label' for='chat_room_チャットメンバー'>チャットメンバー</label>
      </div>
      <div class='chat-room-form__field--right'>
        <select　name="room[user_ids][]">  <%# プルダウンのようなsセレクトボックスを作成する要素%>
        <%# name属性にroom[user_ids][]を指定する %>
          <option value="">チャットするユーザーを選択してください</option>
          <% User.all.where.not(id: current_user.id).each do |user| %>
          <%# 現在ログインしているユーザーをeachメソッドの処理から取り除くことができる。 %>
          <%# モデル名.where.not("条件")・・・条件に一致したレコード以外のすべてのレコードの取得が可能 %>
            <option value=<%=user.id%>><%= user.name %></option>
            <%# value属性にuse.idを指定することによって、room[user_ids][]をキーに「user.id」をコントローラー側に送信できる %>
          <% end %>
          <%# userテーブル内に登録しているuserを選択できる %>
          <%# プルダウンの選択肢になる要素%>
        </select>
        <input name="room[user_ids][]" type="hidden" value=<%= current_user.id %>>
        <%# {"room[user_ids][]" => "選択したユーザーのid, 現在ログインしているユーザーのid"} %>
        <%# type="hidden"とtype属性を指定することで、画面上には表示されないinput要素を作成している。 %>
      </div>
    </div>
    <div class='chat-room-form__field'>
      <div class='chat-room-form__field--left'></div>
      <div class='chat-room-form__field--right'>
        <%= f.submit class: 'chat-room-form__action-btn'%>
      </div>
    </div>
  <% end %>
</div>
